nav a {
  margin: auto 10px;
}

.navbar-nav{
  margin-left: auto;
}

p, h1, h2, h3, h6{
  color: white;
}

p {
  font-size: 20px;
}

#apresentacao {
  margin: 142px 0px 
}

#apresentacao img{
  display: block;
  margin: 0 auto;
  max-width: 350px;
  width: 100%;   
  height: auto;    
}

#sobre {
  padding: 300px 30px 300px 30px;
  background: rgba(0, 0, 0, 0.171);
}

#sobre h1{
  color: rgba(175, 175, 175,0.9);
}

#projetos {
  padding-top: 100px;
}

#projetos p, #projetos h5{
  color:white;
}

#contatos {
  color: wheat;
  background: rgba(0, 0, 0, 0.171);
  margin-top: 100px;
  padding-top: 20px;
}

#contatos a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#rodape {
  background-color: rgba(0, 0, 0, 0.171);
  padding: 15px 0;
}
/*Bootstrap tags
*******************/
@media (max-width: 1920px){
  .container {
    width: 1230px;
  }
}

@media (max-width: 992px){
  .container {
    width: 960px;
    max-width: 100%;
  }
}

.container {
   position: relative;
   margin-left: auto;
   margin-right: auto;
}

#apresentacao h1,
#sobre h1,
#projetos h1,
#contatos h1 {
    display: inline-block;
}
